@page "/Curps"
<PageTitle>Validacion</PageTitle>

<div class="input-group mb-3">
    <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
    </div>
    <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
<button type="submit" onclick="location.href='' " class="btn btn-danger"><i class="bi bi-box-arrow-in-down"></i> Validar </button>

@code {

}
