@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Taller</PageTitle>


 <div class="col-sm-6">
            <h3 class="mt-3"></h3>
    <RadzenImage Path="https://elestudiantedigital.com/wp-content/uploads/2018/09/cursos-para-docentes-online.jpg" Style="width: 50%;">
            </RadzenImage>
 </div>
<RadzenButton Icon="bookmark_border" Click=@(args => OnClick("Secondary button")) Text="Ver Más Cursos" ButtonStyle="ButtonStyle.Success" />






<div class="col-sm-6">
            <h3 class="mt-3"></h3>
    <RadzenImage Path="https://materialeseducativos.mx/wp-content/uploads/2014/09/Problsexto.png" Style="width: 50%;">
          
            </RadzenImage>


        </div>




<RadzenButton Icon="assignment_turned_in" Click=@(args => OnClick("Secondary button")) Text="Ver Má Talleres" ButtonStyle="ButtonStyle.Success" />

@code{


    void OnClick(string buttonName)
    {
        Console.Write($"{buttonName} clicked");
    }


}


