@page "/fetchdata"
@inject HttpClient Http
@inject DialogService DialogService

<PageTitle>Taller</PageTitle>

<head>

</head>





<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/imagenes/Cursos.jpg" class="form-control form-control-lg" style="width:60%;height:200px;">
            <div class="caption">
                <h3>Cursos</h3>
                <p>los cursos online exponen el contenido auditivamente
                  </p>
                <p>
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Registrar" style="width: 150px" Icon="assignment_turned_in" Click=@(args => DialogService.Confirm("Estas seguro dar de Alta este Cursos?", "Registro?", new ConfirmOptions()
                                  { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>

                    <RadzenButton Icon="assignment_turned_in" Text="Ver Más" Style="width: 150px;" ButtonStyle="ButtonStyle.Secondary" Click=@ShowCloseableFromOverlayDialog />
                     
                </p>
            </div>
        </div>
    </div>



    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/imagenes/Cursos.jpg" class="form-control form-control-lg" style="width:60%;height:200px;">
            <div class="caption">
                <h3>Cursos</h3>
                <p>
                    los cursos online exponen el contenido auditivamente 
                </p>
                <p>
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Registrar" style="width: 150px" Icon="assignment_turned_in" Click=@(args => DialogService.Confirm("Estas seguro dar de Alta este Cursos?", "Registro?", new ConfirmOptions()
                                  { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>
                    <a href="#" class="btn btn-warning" role="button">Ver Más</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/imagenes/Cursos.jpg" class="form-control form-control-lg"  style="width:60%;height:200px;">
            <div class="caption">
                <h3>Cursos</h3>
                <p>
                    los cursos online exponen el contenido auditivamente
                </p>
                <p>
                    <RadzenButton ButtonStyle="ButtonStyle.Info" Text="Registrar" style="width: 150px" Icon="assignment_turned_in" Click=@(args => DialogService.Confirm("Estas seguro dar de Alta este Cursos?", "Registro?", new ConfirmOptions()
                                  { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>
                    <a href="#" class="btn btn-warning" role="button">Ver Más</a>
                </p>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/imagenes/Taller.png" style="width:60%;height:200px;">
            <div class="caption">
                <h3>Talleres</h3>
                <p>
                    Talleres online exponen el contenido auditivamente
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Registrar</a>
                    <a href="#" class="btn btn-success" role="button">Ver Más</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
            <img src="/imagenes/Taller.png" style="width:60%;height:200px;">
            <div class="caption">
                <h3>Talleres</h3>
                <p>
                    Talleres online exponen el contenido auditivamente
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Registrar</a>
                    <a href="#" class="btn btn-success" role="button">Ver Más</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/imagenes/Taller.png" style="width:60%;height:200px;">
            <div class="caption">
                <h3>Talleres</h3>
                <p>
                    Talleres online exponen el contenido auditivamente
                </p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Registrar</a>
                    <a href="#" class="btn btn-success" role="button">Ver Más</a>
                </p>
            </div>
        </div>
    </div>
</div>

@code{


    void OnClick(string buttonName)
    {
        Console.Write($"{buttonName} clicked");
    }
    async Task ShowCloseableFromOverlayDialog()
    {
        await DialogService.OpenAsync("Ver mas", ds =>
    @<div>
      
        Los cursos online suelen ser más baratos que los presenciales, ya que el centro de formación pueden optimizar mucho más sus recursos
    </div>, new DialogOptions() { CloseDialogOnOverlayClick = true });
    }

}


