@page "/Index"

<PageTitle>Index</PageTitle>



<h1>Hola</h1>

<p role="status">Recuento actual: @currentCount</p>

<button class="btn btn-success" @onclick="IncrementCount">Haz Click en mi</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
