@page "/Index"

<PageTitle>Index</PageTitle>











<div class="col-md-12 p-3">
    <div class="rz-background-color-danger-light"><span class="rz-color-white">Dirección General de Formación Continua a Docentes y Directivos</span></div>
</div>

<div class="col-md-12 p-3">

<div class="rz-background-color-white">
        <span class="rz-color-black">
Somos la instancia de la Secretaría de Educación Pública encargada de normar y orientar la formación hacia el desarrollo profesional del personal de
       educación básica, con el fin de impulsar la mejora continua de su desempeño, 
        de acuerdo con las exigencias de los retos nacionales y globale</span></div>

</div>


 <div class="col-12 d-flex p-3">

 <div class="col-md-4 p-3">
<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Cursos</RadzenText>
        <RadzenLink Icon="account_box" Path="button" Text="Ver Más" />
</RadzenCard>
</div>

<div class="col-md-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Talleres</RadzenText>
        <RadzenLink Icon="account_circle" Path="button" Text="Ver Más" />
    </RadzenCard>
</div>

<div class="col-md-4 p-3">
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Entidad</RadzenText>
        <RadzenLink Icon="pageview" Path="button" Text="Ver Entidades" />
    </RadzenCard>
</div>
</div>
@code {
  
    




}
