@page "/Inicio_Seciòn"

<PageTitle>Inicio_Seciòn</PageTitle>

<nav class="flex-column">
        <div class="nav-item px-3">

        <span class="oi oi-arrow-left" aria-hidden="true"></span>
        <h5>Regresar</h5>


        <span style="font-size:100px; color:black;"> <i class="oi oi-person" aria-hidden="true">  </i> </span>


        <h3>Inicio_Seciòn</h3>
        <p>password<input type="password" name="Contraseña" /></p>




</div>
</nav>


@code {

}
