@page "/Inicio_Seciòn"
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
@inject DialogService DialogService



<PageTitle>Inicio_Seciòn</PageTitle>
@*

   <div class="col-lg-5 offset-lg-3 d-flex p-3">
            <RadzenCard class="d-flex m-5 p-0 rz-border-radius-4 rz-shadow-10" Style="width: 100%; flex-direction: column; overflow: hidden; align-items: stretch;">
                <RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-background-color-info p-5" style="text-align: center;">
                    <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H2" Class="rz-color-white mb-0">Login</RadzenText>
                </RadzenCard>


        <RadzenCard Class="rz-shadow-0 p-5">

        @*<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"></RadzenText>*@


         @*   <RadzenTextBox Placeholder="Ingresa tu Curps..." IsBusy=@userName Change=@(args => OnIniciar_Secion(args, "TextBox with placeholder")) Class="w-100" />

            <RadzenPassword Placeholder="Ingresa tu Contraseña..." IsBusy=@password Change=@(args => OnIniciar_Secion(args, "Password with placeholder")) Class="w-100" />







            <RadzenButton Icon="input" Click=@(args =>OnRegister ("Secondary button")) Text="Iniciar Sesión" ButtonStyle="ButtonStyle.Secondary" />
        

        <RadzenButton Icon="open_in_browser" Click=@(args => OnRegister("Secondary button")) Text="Registrarse" ButtonStyle="ButtonStyle.Secondary" />



        </RadzenCard>
    </RadzenCard>

     </div>*@
   


 



  


@*<div class="col-6 col-lg-10 d-flex p-3">
    <RadzenCard style="background-color:cornflowerblue ;">
        <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                    <h4 style="color:white">Magister</h4>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"


                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                   
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                       
                        @*<p class="lead fw-normal mb-0 me-3">Inicia sesión</p>*@

                        @* <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-linkedin"></i>
                            </button>*@
                 @*   </div>

                   

                    <!-- Email -->
                    <div class="form-outline mb-4">
                          
                            <h5 class="bi bi-envelope" style="color:white">  Usuario</h5>
                            <input type="email" id="form3Example3" class="form-control form-control"
                               placeholder="Introduzca tu Curps" />

                    
                    </div>

                    <!-- Password  -->
                    <div class="form-outline mb-3">
                            <h5 class="bi bi-lock" style="color:white">  Clave</h5>
                        <input type="password" id="form3Example4" class="form-control form-control"
                               placeholder="Introducir la Contraseña" />
                       
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                             Acuérdate de mí
                            </label>
                        </div>
                        <a href="#!" class="text-body" >¿Se te olvidó tu contraseña?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="button" class="btn btn-info"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                <i class="bi bi-arrow-right-square-fill"></i>
                            Acceso

                      </button>

                        <div class="text-center text-lg-start mt-4 pt-2">

                                <button type="button" class="btn btn-danger"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">

                                    <i class="bi bi-arrow-down-square-fill"></i>
                                    
                                Registro

                            </button>


                                <p class="small fw-bold mt-2 pt-1 mb-0" style="color:white">
                            ¿No tienes una cuenta?<a href="#!"
                                                     class="link-danger">Registro</a>

                        </p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    </RadzenCard>
</div>
*@







<div class="col-6 d-flex p-3">
    <RadzenCard class="d-flex m-5 p-0 rz-border-radius-6 rz-shadow-10" Style="width: 100%; flex-flow: row wrap; overflow: hidden; align-items: stretch ;" >

        <RadzenCard Class="rz-shadow-0 rz-border-radius-0 p-5" style="flex: 1 14rem; text-align: center; background: var(--rz-primary-light)">


            <RadzenText TextStyle="TextStyle.DisplayH2" TagName="TagName.H2" Class="rz-color-white mb-4">Logi!</RadzenText>


            <RadzenText TextStyle="TextStyle.H6" Class="rz-color-white">Magister</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" Class="rz-color-white">Sep</RadzenText>
        </RadzenCard>


        <RadzenCard  Class="rz-shadow-0 rz-border-radius-0 p-5"   style="flex: 1 14rem; background-color:steelblue">
            <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
                bienvenidos
            </RadzenText>

            <RadzenTemplateForm Data=@("SimpleLogin") Action="Index">


                <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) />


            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenCard>
</div>

@code {

    private string userName = "admin";
    private string password = "admin";
    bool rememberMe = true;


    //EventConsole Console;

    void OnLogin(LoginArgs args, string name)
    {
        Console.Write($"{name} -> Username: {args.Username}, password: {args.Password}, remember me: {args.RememberMe}");
    }

    void OnRegister(string name)
    {
        Console.Write($"{name} -> Register");
    }

    void OnIniciar_Secion(string value, string name)
    {
        Console.Write($"{name} -> ResetPassword for user: {value}");
    }

    //void OnResetPassword(string value, string name)
    //{
    //    Console.Write($"{name} -> ResetPassword for user: {value}");
    //}



}
