@page "/Perfil"
@inject DialogService DialogService

<PageTitle>Perfil</PageTitle>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<div class="col-md-5 p-2">
    <div class="nav-item px-2">

        <a class="nav-link disabled">BUSCAR</a>


        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>

</div>



@*<div class="col-md-4 col-sm-4 text-center">

    <div class="col">

        <RadzenButton Text="@tex" ButtonStyle="ButtonStyle.Secondary" style="width: 160px" Icon="autorenew" IsBusy=@busy Click=@(args => DialogService.Confirm("Estas seguro Edictar tu datos?", "Titulo", new ConfirmOptions()
                      { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>

    </div>
</div>
*@


<div class="col-md-5 p-2">




    <RadzenCard>

        <i class="bi bi-person-circle " style="font-size: 4em;color:black"></i>

        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Agregar</RadzenText>

        <RadzenUpload Url="upload/single" Icon="upload" ChooseText="" Progress=@(args => OnProgress(args, "Upload with icon"))>


        </RadzenUpload>

        <RadzenButton Icon="change_history" Click=@(args => OnClick("Secondary button")) Text="Historial" ButtonStyle="ButtonStyle.Success" />


        <RadzenButton Text="@tex" ButtonStyle="ButtonStyle.Secondary"Icon="delete" IsBusy=@busy Click=@(args => DialogService.Confirm("Estas seguro", "Titulo", new ConfirmOptions()
                      { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>


 <RadzenButton Text="@text" style="width: 160px" Icon="save" IsBusy=@busy Click=@(args => DialogService.Confirm("Estas seguro Guardar tu datos?", "Titulo", new ConfirmOptions()
         { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>

                         

    </RadzenCard>
</div>

 

              
            
            
          

 @*<div class="row mb-4">
        <div class="col">

<RadzenButton Text="@text" style="width: 160px" Icon="save" IsBusy=@busy Click=@(args => DialogService.Confirm("Estas seguro Guardar tu datos?", "Titulo", new ConfirmOptions()
              { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>

    </div>
</div>*@


@code{

    bool busy;
    string text = "Guardar";
    string tex = "Eliminar";

//async Task OnBusyClick()
//        {
//            busy = true;
//            await Task.Delay(2000);
//            busy = false;
//        }

  

    void OnProgress(UploadProgressArgs args, string name)
    {
        Console.Write($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

        if (args.Progress == 100)
        {
            foreach (var file in args.Files)
            {
                Console.Write($"Uploaded: {file.Name} / {file.Size} bytes");
            }
        }
    }

    void OnComplete(UploadCompleteEventArgs args)
    {
        Console.Write($"Server response: {args.RawResponse}");
    }

    void OnClick(string buttonName)
    {
        Console.Write($"{buttonName} clicked");
    }
}



