@page "/Perfil"
@inject DialogService DialogService

<PageTitle>Perfil</PageTitle>


              
            
            
          

 <div class="row mb-4">
        <div class="col">

<RadzenButton Text="@text" style="width: 160px" Icon="save" IsBusy=@busy Click=@(args => DialogService.Confirm("Estas seguro Guardar tu datos?", "Titulo", new ConfirmOptions()
              { OkButtonText = "SI" , CancelButtonText = "NO" }))></RadzenButton>

    </div>
</div>


@code{

    bool busy;
    string text = "Guardar";

//async Task OnBusyClick()
//        {
//            busy = true;
//            await Task.Delay(2000);
//            busy = false;
//        }

  
}

