@page "/Perfil"

<PageTitle>Perfil</PageTitle>

<nav class="flex-column">
        <div class="nav-item px-3">

<span class="oi oi-arrow-circle-left" aria-hidden="true">   Perfil:</span>



        <span style="font-size:100px; color:black;"> <i class="oi oi-person" aria-hidden="true">  </i> </span>


     


</div>
</nav>




@code {
    





}
