<p>Nombre <input type="text" name="Nombre" /></p>
<p>Apellido Paterno <input type="text" name="Paterno" /></p>
<p>Apellido Materna <input type="text" name="Materna" /></p>
<p>password<input type="password" name="Contraseña" /></p>

@code {

}
